<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sibongile Nkosi</title>

    <!-- Bootstrap CSS -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
      rel="stylesheet"
    >

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <img class="logo" src="{{ url_for('static', filename='css/images/SN.png') }}" width="80" height="">
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#about-section">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="#certifications">Certifications</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="content-container mt-5 pt-5">
    {% block content %}{% endblock %}
</div>
<!-- Contact -->
 <footer>
    <section id="contact" class="mb-5 contact">
        <h2  class="contact-heading">CONTACT</h2>
        <div class="contact-container">
          <p1 ><img class="contact-icon" src="{{ url_for('static', filename='css/images/email.png') }}" alt=""> nsibongile039@gmail.com</p1>
          <br>
          <p1><img class="github-icon" src="{{ url_for('static', filename='css/images/10.png') }}" alt=""> github.com/SibongileN</p1>
        </div>
      </section>
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  
    const projectCard = document.getElementById('projectCard');
  const overlay = document.getElementById('overlayText');

  projectCard.addEventListener('click', () => {
    overlay.classList.toggle('active');
  });

</script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
